@import url(/css/fonts.css);

* {
    font-family: "Ou_Hard";
}

body {
    margin: 0;
    background-color: #d2d2d2;
    /*color: #372c24;*/
    /*opacity: 0;*/
}

header {
    position: fixed;
    /*flex-direction: row;*/
    width: 100%;
    background: rgb(193,134,75);
    background: linear-gradient(180deg, rgba(193,134,75,1) 0%, rgba(214,161,104,1) 35%, rgba(210,210,210,0.6) 100%);
    z-index: 1;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-shadow: 1px 1px 3px black;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 0;
    /*width: 100%;*/
    overflow: hidden;
    transition: height 750ms;
}

nav button {
    width: 6rem;
    cursor: pointer;
    font-size: 1.2rem;
    /*border: 1px solid black;*/
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #372c24;
}

#bgImage {
    position:fixed;
    height:100%;
    width:100%;
    z-index:-1;

    background-image: url(../image/bgLogo.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

aside {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 1rem;
    bottom: 5rem;
}

button {
    border: none;
    background: none;
}

#mediaDiv {
    display: none;
    flex-direction: column;
    bottom: 2.5rem;
}

.sozialLogo {
    width: 2.5rem;
    padding: 0.1rem 0;
}

footer {
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    background: rgb(193,134,75);
    background: linear-gradient(0deg, rgba(193,134,75,1) 0%, rgba(214,161,104,1) 35%, rgba(210,210,210,0.6) 100%);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 4rem;
}

.footerDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem 0 2rem;
}
